# Database
DATABASE_URL="postgres://user:password@localhost:5432/nextjs_template"

# Better Auth
BETTER_AUTH_SECRET="change-me-to-a-random-string-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:3000"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"


# NEXT_PUBLIC_GA_ID=